<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
  <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
   <section name="Modulo_Tickets.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
  </sectionGroup>
 </configSections>
 <startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
	</startup>

	<connectionStrings>
		<!--INICIO DESARROLLO PRUEBAS-->
		<!--<add name="ConexionCentral" connectionString="Data Source=192.168.0.70; Initial Catalog=CTRSIAC; User ID=CTRSIACNET;Password=SisTema.CTRSIACLogin" providerName="System.Data.SqlClient" />
    <add name="01" connectionString="Data Source=192.168.0.70; Initial Catalog=SIAC; User ID=SIACDeveloper;Password=5iacDeveloper*1" providerName="System.Data.SqlClient" />-->

		<!--<add name="ConexionCentral" connectionString="Data Source=192.168.0.75; Initial Catalog=CTRSIAC; User ID = sa;Password=Pass.010" providerName="System.Data.SqlClient" />-->




		<!--BASE DE DATOS BUENA(PRODUCCION)-->
		<add name="01" connectionString="Max pool Size = 100;Data Source=192.168.0.52; Initial Catalog=SIAC; User ID=SIACNET;Password=SisTema.SIACLogin;pooling=true" providerName="System.Data.SqlClient" />
		<add name="ConexionCentral1" connectionString="Data Source=192.168.0.52; Initial Catalog=CTRSIAC; User ID=CtrSiac;Password=SisTema.CTRSIACLogin" providerName="System.Data.SqlClient" />

		<!--BASE DE DATOS SALTILLO)-->
		<add name="02" connectionString="Max pool Size = 100;Data Source=192.168.10.1; Initial Catalog=SAL_SIAC; User ID=SIACNET;Password=SisTema.SIACLogin;pooling=true" providerName="System.Data.SqlClient" />
		<add name="ConexionCentral2" connectionString="Data Source=192.168.0.52; Initial Catalog=CTRSIAC; User ID=CtrSiac;Password=SisTema.CTRSIACLogin" providerName="System.Data.SqlClient" />


		<!--BASE DE DATOS DVL-MTY-T01)-->
		<add name="03" connectionString="Max pool Size = 100;Data Source=192.168.1.197; Initial Catalog=SIAC; User ID=MEDRANO;Password=MEDRANO5638;pooling=true" providerName="System.Data.SqlClient" />
		<add name="ConexionCentral3" connectionString="Data Source=192.168.1.197; Initial Catalog=CTRSIAC; User ID=SiacMovil;Password=SisTema.SIACLogin" providerName="System.Data.SqlClient" />

		<!--<add name="ConexionCentral" connectionString="Data Source=SQL-MTY-T01; Initial Catalog=CTRSIAC; User ID=Jesus;Password=Ortega2011619" providerName="System.Data.SqlClient" />
    <add name="ConexionSiac" connectionString="Data Source=SQL-MTY-T01; Initial Catalog=SIAC; User ID=Jesus;Password=Ortega2011619" providerName="System.Data.SqlClient"/>-->

	</connectionStrings>
 <userSettings>
  <Modulo_Tickets.Properties.Settings>
   <setting name="User" serializeAs="String">
    <value />
   </setting>
   <setting name="Password" serializeAs="String">
    <value />
   </setting>
   <setting name="Cnx" serializeAs="String">
    <value />
   </setting>
  </Modulo_Tickets.Properties.Settings>
 </userSettings>
 <system.serviceModel>
  <bindings>
   <basicHttpBinding>
    <binding name="WsCashFlowSoap">
     <security mode="Transport" />
    </binding>
    <binding name="WsCashFlowSoap1" />
   </basicHttpBinding>
  </bindings>
  <client>
   <endpoint address="https://www.sissaseguridad.com/WsCajeroInteligente/WsCashFlow.asmx"
    binding="basicHttpBinding" bindingConfiguration="WsCashFlowSoap"
    contract="WsCajeroInteligente.WsCashFlowSoap" name="WsCashFlowSoap" />
  </client>
 </system.serviceModel>
</configuration>